    *{
        margin: 0px;
        padding: 0px;
        background-color: rgb(55, 165, 224);
        font-family:Arial, Helvetica, sans-serif;
    }
    #nav{
    font-size: 30px;
    justify-content:space-around;
    display: flex;

    margin: auto;
    margin-top: px;
    background-color: rgb(24, 9, 132);
    padding: 15px;
    }

    a{
        text-decoration: none;
        color: white;
        background-color: rgb(24, 9, 132)
        
    }